.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 1.4fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "QImage QImage QName QName" "QImage QImage QAnswers QAnswers" "QImage QImage QAnswers QAnswers";
}

.QImage {
    grid-area: QImage;
}

.QAnswers {
    grid-area: QAnswers;
}

.QName {
    grid-area: QName;
}
