@model WickedQuiz.Models.ViewModels.ScoreUser_VM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PlayQuiz</title>
    <link rel="stylesheet" href="~/css/CustomCss.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>@Model.QName</h1>
    <div class="grid-container">
        <div class="QName">
            <h2>@Model.Question.QuestionName</h2>
        </div>
        <div class="QImage">
            <img src="~/images/@(Model.Question.Id.ToString() + ".jpg")" />
        </div>
        <div class="QAnswers">
            @for (int i = 0; i < Model.Answers.Count(); i++)
            {
                <div class="form-group">
                    <label class="control-label"> @Html.ActionLink(Model.Answers[i].AnswerName, "NextQuestion", new { QId = Model.QId, QName = Model.QName, QIndex = Model.QIndex, Correct = Model.Answers[i].Correct, Score = ViewBag.Score, @class = "btn btn-primary btn-large" })</label>
                </div>
            }
        </div>
    </div>
</body>
</html>
