@model WickedQuiz.Models.Models.Quiz
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PlayQuizAsync</title>
</head>
<body>
    <form asp-action="SubmitQuestion">
        <input value="@Model.Id" asp-for="@Model.Id" style="display:none;" />
    </form>
</body>
</html>
