@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="text-center">
        <h1 class="display-4">Welcome to WickedQuizzzzz</h1>
        <p>Click <a href="/Quiz/Quizzes">quizzes</a> and start quizzing!</p>
    </div>
</div>

